//VARIABLES
$cor-primaria: #050801;
$cor-secundaria: #9657bd;
$colors: (
  fill: #a761d3,
);

.header {
  overflow: hidden;
  background-color: $cor-secundaria;
  padding: 35px 30px;

  a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;

    &.logo {
      font-size: 25px;
      font-weight: bold;
      text-decoration: none;
    }

    &.active {
      color: white;
    }
  }
}

.intA {
  position: absolute;
  bottom: 25%;
}

.intB {
  position: absolute;
  bottom: 20%;
}

.intC {
  position: absolute;
  bottom: 15%;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  font-size: 10px;
  font-weight: bold;

  form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: gainsboro;

    .text-areas {
      display: flex;
      width: 70%;
      height: 75vh;
      padding: 20px;

      #taConteudo {
        border: 2px solid $cor-secundaria;
        border-radius: 5px;
        padding: 10px;
        outline: none;
        width: 50%;
        margin-right: 40px;
        font-family: "Inconsolata", monospace;
        font-size: 16px;
      }

      #traducao {
        border: 2px solid $cor-secundaria;
        width: 50%;
        border-radius: 5px;
        padding: 10px;
        background-color: white;
        margin-left: 40px;
        font-family: "Inconsolata", monospace;
        font-size: 16px;
      }
    }
  }
}

.btn-box {
  align-self: center;

  .btn-main {
    cursor: pointer;
    background-color: $cor-secundaria;
    border: 1px solid $cor-secundaria;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    padding: 25px 25px;
    color: grayscale($color: #212322);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    font-weight: 650;
    color: white;
  }
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

@keyframes animate3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.footer-clean {
  padding: 50px 0;
  background-color: $cor-secundaria;
  color: #4b4c4d;

  h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
    color: white;
  }

  ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;

    a {
      color: inherit;
      text-decoration: none;
      opacity: 0.8;
      color: white;
      font-weight: 500;

      &:hover {
        opacity: 1;
      }
    }
  }

  .item.social {
    text-align: right;

    > a {
      font-size: 24px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      border: 1px solid #ccc;
      margin-left: 10px;
      margin-top: 22px;
      color: inherit;
      opacity: 0.75;
      color: white;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: 0.6;
    color: white;
  }
}

@media (max-width: 767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 3em var(--hover);
}

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}

.btn-main {
  color: var(--color);
  transition: 0.25s;

  &:hover,
  &:focus {
    border-color: var(--hover);
    color: white;
  }
}

.logo,
.header-right a {
  position: relative;
  font-weight: 500;

  &:hover {
    color: white;
    text-decoration: none;
  }

  &::after,
  &::before {
    content: "";
    display: block;
    width: 0%;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 2;
  }

  &::after {
    background-color: $cor-secundaria;
    width: 0%;
  }
  &:hover::after {
    animation-name: width;
    animation-duration: 0.6s;
    width: 100%;
    transform: translateZ(0);
  }
  &:hover::before {
    transition: 0.4s;
    background-color: white;
    width: 100%;
    transform: translateZ(0);
  }

  @keyframes width {
    0% {
      width: 0%;
    }
    50% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
}
