//VARIABLES
$cor-primaria: #050801;
$cor-secundaria: #f2b705;
$cor-terciaria: #f2d479;

.body-dark {
  background-color: $cor-primaria;
}

.btn-main-dark {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid $cor-secundaria;
  border-radius: 10px;
  position: relative;
  display: inline-block;
  padding: 25px 25px;
  color: darkgray;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-top: 20px;

  &:hover {
    background: $cor-terciaria;
    color: $cor-primaria;
    box-shadow: 0 0 5px #f2e8b3, 0 0 25px $cor-secundaria,
      0 0 50px $cor-secundaria, 0 0 75px $cor-secundaria;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-size: 10px;
  background: white;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .text-areas {
      display: flex;
      width: 50%;

      #taConteudo {
        border: 1.5px solid $cor-secundaria;
        border-radius: 5px;
        padding: 10px;
        outline: none;
        width: 50%;
        margin-right: 40px;
      }
      #traducao {
        width: 50%;
        border: 1px solid black;
        padding: 10px;
      }
    }
  }
}

.btn-box {
  display: flex;
  flex-direction: column;
  .btn-main {
    cursor: pointer;
    background-color: $cor-secundaria;
    border: 1px solid $cor-secundaria;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    padding: 25px 25px;
    color: grayscale($color: #212322);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-top: 20px;

    &:hover {
      background: $cor-terciaria;
      color: $cor-primaria;
      box-shadow: 0 0 5px #f2e8b3, 0 0 25px $cor-secundaria,
        0 0 50px $cor-secundaria, 0 0 75px $cor-secundaria;
      -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    }
  }
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

@keyframes animate3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}
